.attribution { font-size: 11px; text-align: center; }
    
.attribution a { color: hsl(228, 45%, 44%); }

body {
    background-color: hsl(212, 45%, 89%);
    text-align: center;
}

@media only screen and (min-width: 375px) and (max-width: 720px) {

    .main-container {
        width: 65%;
    }
}

@media only screen and (min-width: 720px) and (max-width: 1440px) {

    .main-container {
        width: 23%;
    }
}

.main-container {
    position: relative;
    background-color: hsl(0, 0%, 100%);
    margin: 50px auto 50px auto;
    padding: 20px;
    border-radius: 15px;
    
}

img {
    width: 100%;
    border-radius: 15px;
}

h5 {
    font-family: 'Outfit', sans-serif;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    padding: 2%;
    margin-top: 5%;
}

p {
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    padding: 2%;
}